.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: linear-gradient(to right, #92ffc0, #002661);
  padding-left: 45px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 115;
}
.Navbar h1 {
  color: white;
  text-decoration: none;
}
.Navbar > ul > li,
.small {
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  align-items: center;
}

.small {
  display: none;
}
.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: white;
  color: black;
  padding: 20px 40px;
  border: 0.5px solid grey;
  position: absolute;
  right: 0.5%;
  transition: top 0.4s;
  cursor: pointer;
}

.ac {
  display: none;
}
.logo {
  width: 20%;
}
@media all and (min-width: 200px) and (max-width: 500px) {
  .small {
    display: flex;
    padding: 0 0;
  }

  .large {
    display: none;
  }

  .account {
    right: 15%;
  }

  .Navbar {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo {
    width: 30%;
  }
}
