.middle {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-left: 31%;
     margin-right: 20%;
}
.imageUploder{
  width: 100%;
  margin: auto;
  padding: 10px;
}
.imageUploder>form{
  width:90%;
  margin: auto;
  background-color: rgb(224, 255, 245);
}
.imageUploder>form>input{
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.imageUploder>form>input:nth-child(2){
  border: none;
}

.imageUploder>form>div{
   background-color: rgb(18, 236, 164);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   color: wheat;
   padding: 10px;
}

.imageUploder>form>img{
  width:100%
}
.searchOption2{
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  height: 400px;
  overflow: scroll;
}
.searchOption1{
  display: none;
}
.btn2{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.left {
  width: 30%;
   height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
}
.search{
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  width: 20%;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: fixed;
    right:0
}
.right>div:nth-child(1){
  width:100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.top {
  width: 100%;
  background:linear-gradient(#cbbacc, #0d57b8);
  border: 1px solid grey;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30%;
  color: white;
}

.message {
  width: 100%;
  position: fixed;
  margin-top: 82vh;
}

.message  input {
  width: 60%;
  border: 0.5px solid grey;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.message  button {
  padding: 7px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(161, 77, 240);
}


@media all and (min-width: 500px) and (max-width: 900px) {
  .middle {
    width: 80%;
     margin-right: 0;
    
  }
}

@media all and (min-width: 200px) and (max-width: 500px) {
  .left {
    display: none;
  }
  .right{
    display: none;
  }

  .middle {
    width: 100%;
    margin-top: 0;
     margin-left: 0;
      margin-right: 0;
  }
}
